*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}
a{
    /* text-transform: capitalize; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
}
h1,h2,h3,h4{
    text-transform: capitalize;
    user-select: none;
    font-weight: normal;
}
P{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    user-select: none;
}